.ffff {
  position: absolute;
  height: 340%;
  width: 100%;
  background-color: #B03D47;
}

.div100 {
  position: relative;
  top: 60px;
  left: 280px;
  height: 2350px;
  width: 900px;
  background-color: white;
  box-shadow: 10px 10px 64px 10px rgba(0, 0, 0, 0.2)
}

.div101 {
  position: relative;
  top: -70px;
  left: 170px;
}

.div102 {
  position: relative;
  top: 100px;
  left: 80px;
  height: max-content;
  width: 750px;
}

.div11 {
  position: absolute;
  top: 60px;
  left: 170px;
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 10px 10px 64px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.back {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 50%;
  cursor: pointer;
}

.f {
  position: relative;
  top: 30px;
  height: 100px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}
